HelloWorld/out
Lab1/out
Lab2/out
Lab3/out
Lab4/out
SpatialOperations/out
HelloWorld/.vs
Lab1/.vs
Lab2/.vs
Lab3/.vs
Lab4/.vs
SpatialOperations/.vs

Lab5/.vs/Lab5/v16/.suo
Lab5/.vs/Lab5/v16/Browse.VC.db
Lab5/.vs/Lab5/v16/Browse.VC.db
*.db
*.db
*.ipch
*.sqlite
Lab6/data/video.mov
Lab6/data/objects/obj4.png
Lab6/data/objects/obj3.png
Lab6/data/objects/obj2.png
Lab6/data/objects/obj1.png
Lab6/.vs/Lab6/v16/Browse.VC.opendb
Lab6/out/build/x64-Release/output.avi
