
HelloWorld/HelloWorld/x64/Debug/HelloWorld.log
HelloWorld/HelloWorld/x64/Debug/HelloWorld.obj
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/CL.command.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/CL.read.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/CL.write.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/HelloWorld.lastbuildstate
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/link.command.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/link.read.1.tlog
HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/link.write.1.tlog
HelloWorld/HelloWorld/x64/Debug/Test.obj
HelloWorld/HelloWorld/x64/Debug/vc142.idb
HelloWorld/HelloWorld/x64/Debug/vc142.pdb
HelloWorld/x64/Debug/HelloWorld.exe
HelloWorld/x64/Debug/HelloWorld.ilk
HelloWorld/x64/Debug/HelloWorld.pdb
HelloWorld/.vs/HelloWorld/v16/.suo
HelloWorld/.vs/HelloWorld/v16/Browse.VC.db
HelloWorld/.vs/HelloWorld/v16/ipch/AutoPCH/3128b51b9973712b/HELLOWORLD.ipch
HelloWorld/.vs/HelloWorld/v16/ipch/AutoPCH/526ad599b8d9f055/TEST.ipch
HelloWorld/.vs/HelloWorld/v16/ipch/AutoPCH/d05af8fb74b56dc8/HELLOWORLD.ipch
HelloWorld/.vs/HelloWorld/v16/ipch/AutoPCH/f1185f45d7d27865/SOURCE.ipch
HelloWorld/HelloWorld.sln
HelloWorld/HelloWorld/HelloWorld.vcxproj
HelloWorld/HelloWorld/HelloWorld.vcxproj.filters
HelloWorld/HelloWorld/HelloWorld.vcxproj.user
HelloWorld/HelloWorld/IMG_0335.JPG
