HelloWorld/out
Lab1/out
Lab2/out
Lab3/out
Lab4/out
SpatialOperations/out
HelloWorld/.vs
Lab1/.vs
Lab2/.vs
Lab3/.vs
Lab4/.vs
SpatialOperations/.vs

Lab5/.vs/Lab5/v16/.suo
Lab5/.vs/Lab5/v16/Browse.VC.db
Lab5/.vs/Lab5/v16/Browse.VC.db
*.db
